{% extends 'home.html' %}
{% block title %}Confirmation{% endblock %}
{% block head %}
<title>Profile</title>
{% endblock %}
<form action="{% url 'management:signup' %}" method="post">
{% block body %}
    <div class="apt">
        <div class="container">
            <div class="print" onclick="myFunction()"><i class="fa fa-print" style="font-size:18px;text-align:center;"><br/>Print</i>
            </div>
            <p2>Patient Profile:</p2><br/><br/><br/>
            {% for user in data %}
            {% if user %}
            <p>Username: {{ user.username }}</p>
            <p>Gender: {{ user.gender }}</p>
            <p>D.O.B.: {{ user.bday }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Phone: {{ user.number }}</p>
            <p>Address: {{ user.address }}</p>
            <p>City: {{ user.city }}</p>
            <p>State: {{ user.state }}</p>
            {% endif %}
            {% endfor %}
        </div>
        <script>
            function myFunction() {
            window.print();
            }
        </script>
    </div>
</form>
{% endblock %}

